<div class="contenido">
  <h1>Iglesia Arca de Salv. Fuego Ar.</h1>
</div>
<div class="menux">


<ul nz-menu nzMode="horizontal" class="horizontal">
  <li nz-menu-item nzSelected>
    <i nz-icon nzType="mail"></i>
    Inicio
  </li>
  <li nz-menu-item nzDisabled>
    <i nz-icon nzType="appstore"></i>
    Reservado
  </li>
  <li nz-submenu nzTitle="Actividades" nzIcon="setting">
    <ul>
      <li nz-menu-group nzTitle="Locales">
        <ul>
          <li nz-menu-item>Cultos Dominicales</li>
          <li nz-menu-item>Oraciones Interdiarias</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Concilar">
        <ul>
          <li nz-menu-item>Reuniones</li>
          <li nz-menu-item>Convenciones</li>
          <li nz-submenu nzDisabled nzTitle="Reservado2">
            <ul>
              <li nz-menu-item nzDisabled>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
          <li nz-submenu nzDisabled nzTitle="Reservado3">
            <ul>
              <li nz-menu-item>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-menu-item>
    <a href="#" target="_blank" rel="noopener noreferrer">Nosotros</a>
  </li>
  <li nz-menu-item>
    <a href="#" target="_blank" rel="noopener noreferrer">Contactos</a>
  </li>
</ul>
</div>
<router-outlet></router-outlet>

<!-- NG-ZORRO -->
<!--
  <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a>
-->